
.custom-nav {
    background-color: #53a292;
}

.custom-table-head {
    background-color: #cde5e0;
}

.card-body .card-content {
    padding: 50px;
}

.card-list, .project-profile {
    margin-top: 50px;
}

.profile-info {
    margin: 30px;
}

.button-margin {
    margin: 0 25px;
}

